{% extends "@Secret/SecretView/bootstrap.html.twig" %}

{% block body %}
    <script src="{{ asset('js/addUserForm.js')}}"></script>
    {{ form_start(form) }}
    <div>
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div>
        {{ form_label(form.clubCardNumber) }}
        {{ form_widget(form.clubCardNumber) }}
    </div>
    <div>
        {{ form_label(form.paymentAmmount) }}
        {{ form_widget(form.paymentAmmount) }}
    </div>
    <div>
        {{ form_label(form.paymentDate) }}
        {{ form_widget(form.paymentDate) }}
    </div>
    <br>
    <div>
        {{ form_label(form.picturePath) }}
        {{ form_widget(form.picturePath) }}
    </div>
    <br>
    <div>
        {{ form_widget(form.userExperienceRelation) }}
    </div>
    <div>
        <button id='addUserFormSubmit' name='create' type='submit' value='create' class='btn btn-default'>Zarejestruj użytkownika</button>
        <a href="{{ path('welcomePage') }}" class="btn btn-default">Wróć do strony głównej</a>
    </div>
    <div>
        <img style="width:200px; height:200px" id="userImage" src="{{ asset('img/defaultUserImage.png') }}"/>
    </div>

    <div>
        {% for error in app.session.flashBag.get('errorMessages')%}
            {% for errorMessage in error %}
                <div class="alert alert-warning">
                    {{ errorMessage.msg }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {{ form_end(form) }}

{% endblock %}